---
---

@import "{{ site.theme }}";

#header nav li.goof {margin-right: 0px; }

#nav-links{
  float: right;
}

.footer{
  display: flex;
}

.footer footer{
  flex-flow: row;
  justify-content: space-between;
  margin: 0 auto;
}
