

.brand-name {
    align-self: flex-start;
}

.footerContainer {
    background-color: tan;
    height:15vh;
   min-width: 100 vw;
    border-top: 2px solid black;
    display: flex;
    margin-top: 10px;
    
}