@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: bisque;
}

#brand {
  font-weight: 400px;
}



#hello {
  padding-bottom: 25px;
  font-weight: bold;
}

#salutation {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}