@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: bisque;
}

#brand {
  font-weight: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 600px;
  border: 5px solid;
  margin-top: 25px;
  justify-content: center;
}

#hello {
  padding-bottom: 25px;
  font-weight: bold;
}

#salutation {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}