@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: bisque;
  display: flex;
  min-height: 100vh;
}

.macro-container {
 /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
}

#brand {
  font-weight: 400px;
}



#hello {
  padding-bottom: 25px;
  font-weight: bold;
}

#salutation {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}