@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.app {
  background-color: bisque;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 700px;
  border: 25px solid;
  margin-top: 25px;
  justify-content: center;
}

#hello {
  padding-bottom: 25px;
  font-weight: bold;
}

#salutation {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}