@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.app {
  background-color: bisque;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 75vh;
  border: 5px solid brown;
  margin-top: 25px;
  justify-content: center;
  flex: 1 0 auto;
}

.whoAmI {
  padding-top: 25px;
}

#hello {
  padding-bottom: 25px;
  font-weight: bold;
}

#salutation {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}